*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat';
  background-color: rgb(216, 216, 216);
}

p{
  margin: 0;
  padding: 0;
}

.header{
  padding: 15px 0;
  width: 100%;
  background: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);  
}

.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.header h2{
  color: #fff;
  margin-left: 20px;
  font-size: 30px;
}

.cart{
  position: relative;
}

.cart img{
  width: 40px;
}

.cart_count{
  position: absolute;
  bottom: -5px;
}

.cart_count span{
  color: #fff;
  border-radius: 100px;
  background: #db0bc0;
  padding: 1px 5px;
  line-height: 1px;
}
